@font-face {
    font-family: "Circular Std Font";
    src: url('../../Circular-Std-Font/Circular Std Font.otf');
}

body {
    font-family: "Circular Std Font";
    margin: 0;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.purple-bg {
    background-color: rgb(102, 48, 216);
}

.yellow-bg {
    background-color: hsla(53, 93%, 55%, 0.911);
}

.first-page-bg {
    background-image: url('../Images/background.svg');
}

.second-page-row {
    margin-top: 10vh;
}

.card {
    border: 1px solid lightgray;
    margin: 36px;
    box-shadow: 0.5px 0.5px;
    border-radius: 3px;
}

.card-title {
    padding: 40px 0;
}

.card-link>button {
    margin-bottom: 20px;
}

.first-page-btn {
    color: white;
    background: rgb(102, 48, 216);
    margin-left: 120px;
    border: 2px solid lightgray;
}

.first-page-btn:hover {
    color: rgb(102, 48, 216);
    background-color: gray;
}

.banner {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.banner-content {
    margin-top: 10px;
}

.banner-btn {
    margin-top: 7px;
    color: white;
    background-color: black;
}