@font-face {
    font-family: "Circular Std Font";
    src: url('../../Circular-Std-Font/Circular Std Font.otf');
}

body {
    font-family: "Circular Std Font" !important;
    margin: 0;
}

.gray {
    color: gray;
}

.first-page-bg {
    background-image: url('../Images/background.svg');
}

.border {
    border: 1px solid lightgray;
    box-shadow: 0.5px lightslategrey;
}

.cv-section,
.tips-section,
.linkedin-tips-section {
    margin: 10px 20px 10px 0;
}

.tips-section,
.linkedin-tips-section {
    font-size: 20px;
    height: 1046px;
}

.cv-section-btn {
    margin-top: 10px;
    margin-bottom: 17px;
    color: rgb(102, 48, 216);
    background: #ebe7e7;
    border: 2px solid #ebe7e7;
}

.cv-section-btn:hover {
    background: lightgray;
    border: 2px solid lightgray;
}

.cv-section-btn:focus {
    color: white;
    background: rgb(102, 48, 216);
    border: 2px solid lightgray;
}

.web-development-cv {
    background-image: url('../Images/WebDevelopmentResume.png');
    height: 982px;
    background-size: cover;
}

.data-science-cv {
    background-image: url('../Images/Data-Scientist-Resume.png');
    height: 982px;
    background-size: cover;
}

.digital-marketing-cv {
    background-image: url('../Images/Digital-Marketing-Resume.png');
    height: 982px;
    background-size: cover;
}

.design-cv {
    background-image: url('../Images/DesignResume.png');
    height: 982px;
    background-size: cover;
}

.carousel-margin-top {
    margin-top: 20px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.back-button {
    margin-left: 90px;
}

.finish-portfolio-button {
    float: right;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-text {
    </div>
}

.modal-content {
    /* background-color: #fefefe; */
    background-image: url('./../Images/Background-for-pop-up.png');
    /* margin: 10% auto; */
    margin-top: 3%;
    margin-left: 10%;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80vh;
    background-size: contain;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}