@font-face {
    font-family: "Circular Std Font";
    src: url('../../Circular-Std-Font/Circular Std Font.otf');
}

body {
    font-family: "Circular Std Font";
    margin: 0;
}

.gray {
    color: gray;
}

.turquoise {
    color: #2cbbad;
}

.first-page-bg {
    background-image: url('../Images/background.svg');
}

.border {
    border: 1px solid lightgray;
    box-shadow: 0.5px lightslategrey;
}

.outline-border {
    border: 1px solid lightgray;
    display: inline-block;
    padding: 9px;
    border-radius: 17px;
}

.editable {
    margin-top: 30px
}

.elon-image {
    border-radius: 50%;
    width: 139px;
    height: 155px;
    margin-top: 21px;
}

.contact-left {
    margin-top: 21px;
}

.cv-section,
.tips-section {
    margin: 10px 20px 10px 0;
}

.tips-section {
    font-size: 20px;
    height: 1046px;
}

.cv-section-btn {
    margin-top: 10px;
    margin-bottom: 17px;
    color: rgb(102, 48, 216);
    background: #ebe7e7;
    border: 2px solid #ebe7e7;
}

.cv-section-btn:hover {
    background: lightgray;
    border: 2px solid lightgray;
}

.cv-section-btn:focus {
    color: white;
    background: rgb(102, 48, 216);
    border: 2px solid lightgray;
}


/* ul.b {
    color: #2cbbad;
    list-style-type: square;
} */

ul {
    list-style: none;
    padding-left: 15px;
}

ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #2cbbad;
    /* Change the color */
    font-weight: bolder;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}


/* upload photo */

.profile-pic {
    width: 223px;
    height: 153px;
    display: block;
}

.file-upload {
    display: none;
}

.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 144px;
    height: 162px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 8px;
}

img {
    max-width: 100%;
    height: auto;
}

.p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    z-index: 1000000;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

input[type=file] {
    display: contents;
}

.proba {
    background-color: #2cbbad;
    color: white;
    border-radius: 36px;
    text-align: center;
    border: 1px solid #2cbbad;
    width: inherit;
}