@font-face {
    font-family: "Circular Std Font";
    src: url('../../Circular-Std-Font/Circular Std Font.otf');
}

body {
    font-family: "Circular Std Font";
    margin: 0;
}

.gray {
    color: gray;
}

.first-page-bg {
    background-image: url('../Images/background.svg');
}

.first-page-row {
    margin-top: -10vh;
}

.first-pg-section {
    margin-top: 30vh;
}

.first-page-btn {
    color: white;
    background: rgb(102, 48, 216);
}

.first-page-btn:hover {
    color: rgb(102, 48, 216);
    background-color: gray;
}

.first-page-img {
    background-image: url('../Images/first-page-bg.png');
    height: 80vh;
    margin-top: 15vh;
}

.first-pg-footer a {
    color: rgb(102, 48, 216);
}